body{
    background-color: rgb(129, 175, 235);
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 300;
    font-size: 2rem;
}

h1, h2{
    font-weight: 300;
}